<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/}">Home</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0" >
					<li class="nav-item" sec:authorize="isAuthenticated()">
						<a class="nav-link" th:href="@{/usuario}">Usuario</a>
					</li>
					<li class="nav-item" sec:authorize="isAuthenticated()">
						<a class="nav-link" th:href="@{/perfil/}">Perfil</a>
					</li>
				</ul>
				<div class="d-flex">
					<div sec:authorize="isAuthenticated()">
						<form th:action="@{/logout}" method="post" id="form-logout">
						</form>
						<input class="btn btn-dark" style="cursor: pointer" type="submit" value="Logout"
							form="form-logout" />
					</div>
					<div sec:authorize="!isAuthenticated()">
						<a class="btn btn-dark" th:href="@{/login}">Login</a>
					</div>
				</div>

			</div>
		</div>
</nav>
<div class="container my-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h2>Registro de nuevo Usuario</h2>
			<form action="#" th:action="@{/usuario/crear}" th:object="${usuario}" method="post" class="row g-3">
                    <div class="form-row">
                    <div class="col-md-6 form-group">
                        <label class="form-label">Nombre</label>
						<input type="text" class="form-control" th:field="*{nombre}" />
						<p th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Longitud de Nombre incorrecta </p>
                    </div>
                    <div class="col-md-6 form-group">
                       <label class="form-label">Apellido</label>
						<input type="text" class="form-control" th:field="*{apellido}"/>
						<p th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Longitud de Apellido incorrecta </p>
                    </div>
                    <div class="col-md-6 form-group">
                       <label class="form-label">Tipo de Documento</label>
						<select th:field="*{tipoDocumento}">
						<option th:each="tipoDocumento : ${T(com.unla.Grupo23OO22021.enums.TipoDocumento).values()}" th:value="${tipoDocumento}" th:text="${tipoDocumento}"></option>
						</select>
					</div>
                    <div class="col-md-6 form-group">
                        <label class="form-label"> N° Documento </label>
						<input type="text" class="form-control" th:field="*{dni}" />
						<p th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}">Longitud incorrecta </p>
                    </div>
                   
                    <div class="col-md-6 form-group">
                        <label class="form-label"> Email </label>
						<input type="text" class="form-control" th:field="*{email}" /></p>
                    </div>
                   
                     <div class="col-md-6 form-group">
                       <label class="form-label">Nombre de Usuario</label>
						<input type="text" class="form-control" th:field="*{username}"/>
						<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Longitud usuario incorrecta </p>
                    </div>
					
					<div class="col-md-6 form-group">
                       <label class="form-label">Rol</label>
						<select th:field="*{perfil.idPerfil}">
						<option th:each="p : ${perfiles}" th:value="${p.idPerfil}" th:text="${p.tipo}"></option>
						</select>
					</div>
										
					<div class="col-md-6 form-group">
					<label class="form-label">Contraseña</label>
					<input type="password" class="form-control" pattern=".{6,}" th:field="*{password}"/>
					</div>
					
                     
                </div>
				<input type="submit" class="btn btn-primary" value="Crear"/>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 