<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link th:href="@{../../css/style.css}" rel="stylesheet">
	<title>Rodado - Nuevo</title>
</head>

<body class="masthead">
	<div th:replace="fragments/menu"></div>
	<div class="mb-5"></div>

	<form action="#" th:action="@{/rodado/save}" th:object="${rodado}" method="POST" style="width:70%" class="container main">
		<h1>Formulario de Alta de Rodado</h1>

		<div class="row">
			<div class="form-group col">
				<label class="form-label">Dominio</label>
				<input class="form-control" placeholder="AAA999" type="text" th:field="*{dominio}">
				<small class="form-text text-danger" th:if="${#fields.hasErrors('dominio')}" th:errors="*{dominio}"></small>
			</div>
			<div class="form-group col">
				<label class="form-label">Vehiculo</label>
				<input class="form-control" placeholder="Volkswagen Gol" type="text" th:field="*{vehiculo}">
				<small class="form-text text-danger" th:if="${#fields.hasErrors('vehiculo')}" th:errors="*{vehiculo}"></small>
			</div>

		</div>

		<div class="row mt-3">
			<div class="form-group col">
				<input type="submit" class="btn btn-primary">
			</div>
		</div>
	</form>
	
	
	<div th:replace="fragments/footer"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</html>