<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link th:href="@{../../css/style.css}" rel="stylesheet">
	<title>Permiso - Nuevo</title>
</head>

<body class="masthead">
	<div th:replace="fragments/menu"></div>
	<div class="alert alert-warning" th:if="${error}">
		<span th:text="${error}"></span>
	</div>
	<div class="mb-5"></div>
	
	
	<div class="container" style="width: 70%;">
		<h1>Formulario de Permiso por Periodo <span class="badge bg-secondary" th:text="${lugares.size()+1+'/3'}"/></h1>
	</div>
	

	<table class="table container" style="width:70%" th:if="${lugares.size()>0}">
		<thead>
			<tr>
				<th scope="col">Lugar</th>
				<th scope="col">Codigo Postal</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="l : ${lugares}">
				<td th:text="${l.lugar}"></td>
				<td th:text="${l.codigoPostal}"></td>
			</tr>
		</tbody>
	</table>
	
	
	<form action="#" th:action="@{/permiso/search-lugar-p}" th:object="${lugar}" method="POST" style="width:70%"
		class="container" th:if="${lugares.size()<2}">
		<h5 th:if="${lugares.size()==0}">Desde</h5>
		<h5 th:if="${lugares.size()==1}">Hasta</h5>
		<div class="mb-2">
			<input th:field="*{lugar}" type="text" placeholder="Nombre" class="form-control">
			<small class="form-text text-danger" th:if="${#fields.hasErrors('lugar')}" th:errors="*{lugar}"></small>
		</div>
		
		<div class="mb-2">
			<input th:field="*{codigoPostal}" type="text" placeholder="Codigo Postal" class="form-control">
			<small class="form-text text-danger" th:if="${#fields.hasErrors('codigoPostal')}" th:errors="*{codigoPostal}"></small>
		</div>
		<input th:field="*{lugar}" type="submit" class="btn btn-primary">
	</form>

	<form action="#" th:action="@{/permiso/clear-lugar}" method="POST" style="width:70%"
		class="container mt-3" th:if="${lugares.size()>0}">
		<input type="submit" value="Borrar lugares seleccionados" class="btn btn-primary">
	</form>

	<form action="#" th:action="@{/permiso/periodo/save}" th:object="${permiso}" method="POST" style="width:70%"
		class="container mt-2" th:if="${lugares.size()==2}">

		<div class="row">

			<div class="col form-group">
				<label class="form-label">Dni</label>
				<select th:field="*{persona.idPersona}" class="form-select">
					<option th:each="p : ${personas}" th:value="${p.idPersona}"
						th:text="${p.nombre+' '+p.apellido+' '+p.dni}"></option>
				</select>
			</div>

			<div class="col form-group">
				<label class="form-label">Rodado</label>
				<select th:field="*{rodado.idRodado}" class="form-select">
					<option th:each="r : ${rodados}" th:value="${r.idRodado}"
						th:text="${r.vehiculo}+' con patente '+${r.dominio.toUpperCase()}">
					</option>
				</select>
			</div>
		</div>

		<hr>


		<div class="row">
			<div class="form-group col">
				<label class="form-label">Fecha de Inicio</label>
				<input class="form-control" type="date" th:field="*{fechaString}">
			</div>

			<div class="form-group col">
				<label class="form-label">Cantidad de dias</label>
				<input class="form-control" type="number" th:field="*{cantDias}" min="1" value="1">
			</div>
		</div>

		<div class="row mt-3">
			<div class="form-group col">
				<label class="form-label">Vacaciones</label>
				<input class="form-check-input" type="checkbox" th:field="*{vacaciones}">
			</div>
		</div>

		<div class="row mt-3">
			<div class="form-group col">
				<input type="submit" class="btn btn-primary">
			</div>
		</div>

	</form>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
		crossorigin="anonymous"></script>
</body>

</html>