<!-- MENU -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top nav-menu">
	<div class="container-fluid">
		<a class="navbar-brand" th:href="@{/}">Home</a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item" sec:authorize="isAuthenticated()">
					<a class="nav-link" th:href="@{/usuario}">Usuario</a>
				</li>
				<li class="nav-item" sec:authorize="isAuthenticated()">
					<a class="nav-link" th:href="@{/perfil/}">Perfiles</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/about-us}">Nosotros</a>
				</li>
				<div class="dropdown nav-item">
					<a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
						aria-expanded="false">
						Permiso
					</a>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
						<li><a class="dropdown-item" th:href="@{/permiso/dia/new}">Diario</a></li>
						<li><a class="dropdown-item" th:href="@{/permiso/periodo/new}">Periodo</a></li>
					</ul>
				</div>
			</ul>
			<div class="d-flex">
				<div sec:authorize="isAuthenticated()">
					<form th:action="@{/logout}" method="post" id="form-logout">
					</form>
					<input class="btn btn-dark" style="cursor: pointer" type="submit" value="Logout"
						form="form-logout" />
				</div>
				<div sec:authorize="!isAuthenticated()">
					<a class="btn btn-dark" th:href="@{/login}">Login</a>
				</div>
			</div>

		</div>
	</div>
</nav>