*{
	font-family: Helvetica;
}


.masthead{
	  height: 100vh;
	  min-height: 500px;
	  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
	  background-size: cover;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-attachment: fixed
}

.nav-menu{
	opacity:.8;
}

.title-container{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 60%;
}

