<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link th:href="@{css/style.css}" rel="stylesheet">
	<title>Home</title>
</head>

<body class="masthead">
	<div th:replace="fragments/menu"></div>

	<div class="title-container mt-5">
		<h1 class="display-2">Miembros del equipo</h1>
		<table class="table table-hover" style="width: 40vw;">

			<tbody>
				<tr>
					<td>Ezequiel Ignacio de la Fuente</td>
					<th>Github: </th>
					<td><a href="https://github.com/Ezequiel-de-la-Fuente/" target="_BLANCK">Ezequiel-de-la-Fuente</a>
					</td>
				</tr>
				<tr>
					<td>Analia Fernandez Caballero</td>
					<th>Github: </th>
					<td><a href="https://github.com/AnaliaFc/" target="_BLANCK">AnaliaFc</a></td>
				</tr>
				<tr>
					<td>Daniel Frutos Gonzalez</td>
					<th>Github: </th>
					<td><a href="https://github.com/1Daniiel8" target="_BLANCK">1Daniiel8</a></td>
				</tr>
			</tbody>
		</table>


		<p class="m-4" style="font-family: Monospace;">Somos el <strong>Grupo 23</strong> que curso en el año <strong>2021</strong> la materia de
			<strong>Orientacion a Objetos II</strong>.<br> El proyecto esta hecho con <strong>Spring Boot</strong>, utilizando una base de
			datos <strong>SQL</strong> y para <br> las vistas principalmente utilizamos <strong>Bootstrap.</strong>
			<br>Si quieres ver como esta hecho, entra en el <a href="https://github.com/AnaliaFc/Grupo-23-OO2-2021"
				target="_BLANCK">repositorio</a> de GitHub.
		</p>
	</div>


	<div th:replace="fragments/footer"></div>


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
	crossorigin="anonymous"></script>

</html>